.navbar {
  padding: 15px 0;
  background-color: #2c2f46 !important;
}

/* .navbar-brand img {
  border-radius: 50%;
} */

.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.85)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.form-select {
  width: 110px;
  background-color: #e4e4f6;
}
.form-select:focus {
  box-shadow: none;
}

.btns {
  background-color: #1c1f33;
  color: #fff;
  font-size: 13px;
}
.btns:hover {
  background-color: #2a3261;
  color: #fff;
}
.btns:focus {
  box-shadow: none;
}
