.test-title {
  color: #2c2f46;
  text-align: center;
  font-weight: bold;
  font-size: 45px;
  padding: 12px 0;
}

/* Centered Container */
.main-test-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 15px;
}

/* Test Container */
.test-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Circle Container */
.circle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 20px;
}

/* Common Circle Styling */
.circle {
  width: 140px; /* Adjust size as needed */
  height: 140px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 4px solid white;
}

/* Image Circle */
.image-circle {
  object-fit: cover;
  border: 4px solid white;
}

/* Text Circle */
.text-circle {
  background-color: #4e8545;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-left: -20px; /* Adjusts overlapping */
  flex-direction: column;
  z-index: -1;
}
.text-circle h5 {
  padding-top: 34px;
}
.text-circle h5,
.text-circle p {
  font-weight: bold;
  font-size: 30px;
}

/* Button */
.test-action-btn {
  padding: 5px 60px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: bold;
  background-color: #faae56;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background 0.3s;
}

.test-action-btn:hover {
  background-color: #e2a661;
}

/* Description */
.test-description {
  font-size: 14px;
  color: #333;
  max-width: 500px;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .circle {
    width: 100px;
    height: 100px;
  }

  .text-circle {
    font-size: 16px;
    margin-left: -10px;
  }
}
